*{color: rgba(0, 0, 0, .8)}/* header */
header{background: #d43c33;position: fixed;width: 100vw;z-index: 1;}
header{padding: 3.04vh 3.2vw;display: flex;align-items: center;justify-content: space-between;}
header > .logo{width: 44.375vw;}
header > a{color: #fff;font-size: 4.6875vw;position: relative;padding: 0.53vh 3.125vw;
  border: 1px solid rgba(255,255,255,.4);border-radius: 37.5%/100%;}
::-webkit-scrollbar{display: none; }

/* nav */
nav{
  padding-top: 11.27vh;
}
nav > ol{
  font-size: 4.375vw;
  font-family: Helvetica, sans-serif;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.1)
} 
nav > ol > li{
  flex: 1;
  text-align: center;
  padding: 1.76vh 0;
} 
nav > ol > li > span{
  padding: 0 1.875vw;
  position: relative;
}
nav > ol > li.active > span{
  color: #d43c33;
}
nav > ol > li.active > span::after{
  content: '';
  width: 100%;
  position: absolute;
  bottom: -2.11vh;
  left: 0;
  border: 1px solid #d43c33;
}
/* tabContent */
.tabContent > li{
  display: none;
}
.tabContent > li.active{
  display: block;
}
/* recommendedSongList */
.tabContent > li > section > h2{
  font-size: 5.3125vw;
  line-height: 3vh;
  margin: 3.70vh 0 5vw;
  padding-left: 2vw; 
  border-left: 2px solid #d43c33;
}
.recommendedSongList > ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommendedSongList > ul > li{
  width: calc(33.33% - 0.55vw);
  display: flex;
  flex-direction: column;
  margin-bottom: 2.83vh;
}
.recommendedSongList > ul > li > img{
  width: 100%;
}
.recommendedSongList > ul > li > p{
  font-size: 4.0625vw;
  line-height: 2.92vh;
  padding: 1.06vh 0.625vw 0 1.875vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* latestMusic */
.latestMusic > ol.loading{
  background: url(http://p4ybacwlp.bkt.clouddn.com/loading.gif) no-repeat;
  min-height: 7.04vh;
  background-size: contain;
}
.latestMusic > ol > li{
  padding:1.01vh 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-left: 3.125vw;
}
.latestMusic > ol > li > a{
  position: relative;
}
.latestMusic > ol > li > a > h3{
  font-size: 5vw;
  max-width: 83.75vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.latestMusic > ol > li > a > p{
  font-size: 3.75vw;
  color: #888;
  max-width: 83.75vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.latestMusic > ol > li > a > svg.icon{
  position: absolute;
  width: 8.125vw;
  height: 4.58vh;
  right: -94.125vw;
  top: -5.30vh;
}
/* footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.82vh;
  background: #faf8f8;
}
.footer > svg{
  width: 71.8755vw;
  padding-top: 12%;
}
.footer > a.openApp{
  font-size: 5vw;
  line-height: 6.70vh;
  border: 1px solid #d33a31; 
  padding-left: 6.25VW;
  padding-right: 6.25vw;
  border-radius: 18%/100%;
  color: #d33a31;
  margin: 2.81vh 0 2vw;
}
.footer > p.copyright{
  font-size: 3.75vw;
  line-height: 2.11vh;
  color: #888;
  transform: scale(0.75)
}

/* page-2; */
.page-2{}
.page-2 > .hotSong{
  width: 100%;
  height: 21.91vh;
  background-image:url(http://p4ybacwlp.bkt.clouddn.com/o_1c80j026c13q918ovqms1cg81jsrm.jpg);
  background-size: contain;
  position: relative;
}
.page-2 > .hotSong::before{
  display: block;
  content: '';
  background: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.page-2 > .hotSong > .hotSongContent{
  width: 44.375vw;
  height: 11.80vh;
  background-image: url(http://p4ybacwlp.bkt.clouddn.com/o_1c80j0olbmql4po14t1qptausr.png); 
  background-size: 51.875vw 17.08vh;
  background-position-x: -7.4vw;
  background-position-y: 11.8vh;
  position: absolute;
  top: 2.46vh;
  left: 6.25vw;
}
.page-2 > .hotSong > p{
  font-size: 3.75vw;
  position: absolute;
  top: 15.85vh;
  left: 6.25vw;
  color:#fff;
}
.page-2 li > a{
  padding-left:3.125vw;
  display: flex;
  justify-content: center;
}
.page-2 li > a > .number{
  width:8.75vw;
  height: 7vh;
  text-align: center;
  line-height: 7vh;
  font-size: 5vw;
  color: rgba(0, 0, 0, .4);
}
.page-2 li:nth-child(1) > a > .number{
  color: #df3436;  
}
.page-2 li:nth-child(2) > a > .number{
  color: #df3436;  
}
.page-2 li:nth-child(3) > a > .number{
  color: #df3436;  
}
.page-2 li > a > .song{
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 1.0521vh 0.625vw 1.0521vh 1.25vw;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-top: 0.76vh;
}
.page-2 li > a > .song > .songInfo{

}
.page-2 li > a > .song .songName{
  font-size: 5vw;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  max-width: 76.875vw;
}
.page-2 li > a > .song .singer{
  font-size: 3vw;
  color: #888;
  padding-top: 0.7521vh;
}
.page-2 li > a > .song .singer > .sq{
  vertical-align: middle;
  display: inline-block;
  width: 3.75vw;
  height: 1.51vh;
  background-size: 51.875vw 17.32vh;
  background-image: url(../../../images/index/hot-song.png); 
}
.page-2 li > a > .song > .icon{
  width: 8.125vw;
  height: 4.58vh;
  margin-top: 0.81vh;
  margin-right: 1.875vw;
}
.page-2  > .more{
  text-align: center;
  padding: 3.52vh 6.25vw;
  color: rgba(0,0,0,0.4)
}

/* page-3 */
.page-3 > form{
  padding: 2.64vh 3.125vw;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}
#search{
  width: 93.75vw;
  padding: 0 9.375vw;
  line-height: 5.28vh;
  border-radius: 10%/100%;
  outline: none;
  border: none;
  background: #ebecec;
}
.page-3 > form > svg:nth-child(1){
  position: absolute;
  top: 3.87vh;
  left: 5.625vw;
}
.page-3 > form > svg.clear{
  position: absolute;
  top: 3.87vh;
  right: 5vw;
  display: none;
}
.page-3 > form > svg.clear.active{
  display: block;
}
.page-3 > a{
  display: inline-block;
  padding: 2vh 3.125vw;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: #507daf;
  overflow: auto;
  white-space: nowrap;
}
.page-3 > ol > li{
  padding:1.01vh 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-left: 3.125vw;
}
.page-3 > ol > li > a{
  position: relative;
}
.page-3 > ol > li > a > h3{
  font-size: 5vw;
  max-width: 83.75vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #507daf;
}
.page-3 > ol > li > a > p{
  font-size: 3.75vw;
  color: #888;
  max-width: 83.75vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-3 > ol > li > a > svg.icon{
  position: absolute;
  width: 8.125vw;
  height: 4.58vh;
  right: -94.125vw;
  top: -5.30vh;
}